<style>
    .container {width:100%;margin:auto;}
    @media(min-width:600px) {.container {width: 80%;}}
    @media(min-width:768px) {.container {width: 60%;}}
    @media(min-width:1024px) {.container {width: 50%;}}
</style>

<div class="container">
<h1>Welcome to Cosmetic Virtual Try-on Application</h1>
<img src="https://ap-southeast-1-029060369-view.menlosecurity.com/c/0/i/aHR0cHM6Ly91NGQyejdrOS5yb2NrZXRjZG4ubWUvd3AtY29udGVudC91cGxvYWRzLzIwMjMvMDIvVW50aXRsZWQtMTAyNC0lQzMlOTctNjgzcHgtMjAyMy0wMi0wOVQxNjE2MDYuMjIzLmpwZy53ZWJw?k=Wc0lNZ0Gs_9Bh0M-ypbD42T8ApWtzGMQ2gar97OkLTs~"
    width="500" height="300">
<h3>Hello, I am your virtual assistant, may i know your name?</h3>
<form action="/main" method="post">
    <p><input type="text" name="q"></p>
    <p><input type="submit" value="Submit"></p>
</form>
</div>
